*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: "jost",sans-serif;
    letter-spacing: 1px;
}
body{
    height: 100vh;
    width: 100vw;
    position: relative;
}
.container{
    height: 100vh;
    width: 100%;

}
.upper-content{
    height: 50%;
    width: 100%;
    background-color: rgb(0, 140, 255);
    display: flex;
    justify-content: space-between;
    align-items: start;
}
.nav{
    display: flex;
    gap: 40px;
   
}
img{
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
}
.img > span{
    display: inline-block;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
}
.nav-item{
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    padding: 10px;
    margin-right: 25px;
    margin-top: 15px;
    transition-duration: 0.4s;
    transition-delay: 0.4s;
    transition: all;
}
.navlogo{
    font-size: 20px;
    font-weight: 400;
}
.navlogo:hover{
    text-decoration: underline;
    text-decoration-color: rgb(127, 252, 127);
}
.lower-content{
    height: 50%;
    width: 100%;
    /* background: #000; */
    background: #fff;
}
.middle-content{
    height: 60%;
    width: 60%;
    /* background: green; */
    /* background: #fff; */
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%  -50%);

}
.middle-content > h1{
    font-size: 20px;
    color: #fff;
    /* color: #fff; */
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 10px;
    text-shadow: 6px 6px 6px rgba(0, 0, 99, 0.8);
}
.card-content{
    display: grid;
    width: 100%;
    height: calc(100% - 43px);
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(3,1fr);
    row-gap: 20px;
    column-gap: 20px;

}
.card-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card-rem{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    padding: 10px;
    line-height: 1.5;
    
}
.card{
    /* border: 2px solid red; */
    /* text-align: center; */
    /* background-color:i; */
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;
    cursor: pointer;
}
.logo > :last-child{
    color: rgba(160, 160, 160, 0.877);
}
.card-rem > :last-child{
    text-align: center;
}
.card-rem > :first-child{
     color: #ffffff;
     font-weight: 800;
     letter-spacing: 1px;
}
/* .card:hover{
    transform: scale(1.1);
} */
